<div class="image-card card">
    <div class="header">
      <img [src]="image"/>
    </div>
    <div class="body">
      <h4><div class="position"
        style="padding: 10px"
        ><i class="material-icons">location_on</i> {{ desc }}</div></h4>
      <p>{{ title }}</p> 
     

    </div>
    <div class="footer" style="padding: 10px">
      <h4><i class="material-icons">group</i>{{ footerTitle }}</h4>
      <button md-raised-button type="submit" class="btn btn-primary btn-xs"  >Edit Job </button>
      <button md-raised-button type="submit" class="btn btn-info btn-xs">Pic Job</button>

    </div>
  </div>
  