<div class="container">
    <app-navbar title="Dashboard"></app-navbar>
    <div class="row" style="margin-top: 30px">
  
 
    </div>
    <div>
      <app-message></app-message>
    </div>
    <div class="row" style="margin-top: 10px">
      <div *ngIf="!jobs" class="m-auto">
        <h1 class="text-center display-3 mt-5">
          <i class="fa fa-spinner fa-spin"></i>
          <div>
            looking for jobs!!
          </div>
        </h1>
      </div>

      <div *ngFor="let job of jobs" class="col-md-4 col-sm-12 col-xs-12">
    
        <div class="image-card card">
          <div class="header">
            <img [src]="image"/>
          </div>
          <div class="body">
            <h4>
              <div class="position"
            
              ><i class="material-icons">location_on</i> {{ job.clientlocation}}
            
            </div>
            <div class="position"
            style="padding: 10px"
            ><i class="material-icons">calendar_today</i> {{ job.dateOfStart | date :'short'}}
          
          </div>
          </h4>
            <p>{{ job.name}}</p> 
          
          </div>
          <div class="footer" style="padding: 10px">
       
            <button md-raised-button type="submit" class="btn btn-info btn-xs">View Job</button>
      
          </div>
        </div>

      </div>
      
    </div>

  </div>
  